{{ define "main" }}
<div class="list" id="list" data-section="{{.Title}}">

    {{ $section := (index (index $.Site.Taxonomies.categories (lower .Page.Name)) 0).Section }}

    {{ if eq "Categories" .Parent.Title }}
    <h1>{{title $section}}</h1>
    {{ else if and .IsSection (in "blog news works" .Section) }}
    <h1>{{.Title}}</h1>
    {{ else }}
    <h1> <a href="{{.Site.BaseURL}}tags" title="kiminori.me | Tags">Tag</a>: #{{.Name}}</h1>
    {{ end }}
    {{ if in "blog news works" $section }}
    <div class="filter-wrapper">
        <a class="filter" href="{{.Site.BaseURL}}{{$section}}" id="filter-All">All {{title $section}}</a>
        <div class="separator"></div>
        {{ range .Site.Taxonomies.categories }}
        {{ if eq $section (index (index $.Site.Taxonomies.categories (lower .Page.Name)) 0).Section }}
        <a class="filter" href="{{ .Page.Permalink }}" id="filter-{{.Page.Title}}">{{ .Page.Name }}</a>
        {{ end }}
        {{ end }}
        <div class="select-container">
            <select id="select">
                <option value="" disabled selected>Category</option>
                {{ range .Site.Taxonomies.categories }}
                {{ if eq $section (index (index $.Site.Taxonomies.categories (lower .Page.Name)) 0).Section }}
                <option value="filter-{{ .Page.Title }}">{{ .Page.Name }}</option>
                {{ end }}
                {{ end }}
            </select>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path
                    d="M480-120 300-300l58-58 122 122 122-122 58 58-180 180ZM358-598l-58-58 180-180 180 180-58 58-122-122-122 122Z" />
            </svg>
        </div>
    </div>

    {{ else if in "blog news works" .Section }}
    <div class="filter-wrapper">
        <a class="filter" href="{{.Site.BaseURL}}{{$section}}" id="filter-All">All {{title .Section}}</a>
        <div class="separator"></div>
        {{ range .Site.Taxonomies.categories }}
        {{ if eq $.Page.Section (index (index $.Site.Taxonomies.categories (lower .Page.Name)) 0).Section }}
        <a class="filter" href="{{ .Page.Permalink }}" id="filter-{{.Page.Title}}">{{ .Page.Name }}</a>
        {{ end }}
        {{ end }}
        <div class="select-container">
            <select id="select">
                <option value="" disabled selected>Category</option>
                {{ range .Site.Taxonomies.categories }}
                {{ if eq $.Page.Section (index (index $.Site.Taxonomies.categories (lower .Page.Name)) 0).Section }}
                <option value="filter-{{ .Page.Title }}">{{ .Page.Name }}</option>
                {{ end }}
                {{ end }}
            </select>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path
                    d="M480-120 300-300l58-58 122 122 122-122 58 58-180 180ZM358-598l-58-58 180-180 180 180-58 58-122-122-122 122Z" />
            </svg>
        </div>
    </div>
    {{ end }}
    {{ if or (eq "works" .Section) (eq "works" $section) }}
    <div class="works-card-area">
        {{ range .RegularPagesRecursive }}
        <article class="works-card">
            <a class="works-card-a" href="{{.RelPermalink}}"></a>
            {{ $filepath := printf "img/%s.jpg" .Params.thumbnail }}
            {{ $alt := printf "「%s」のサムネイル" .Title}}
            {{ with .Page.Resources.GetMatch $filepath }}
            {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
            <picture>
                <source srcset="{{.RelPermalink}}" type="image/webp">
                <img src="/{{ $filepath }}" alt="{{ $alt }}" loading="lazy">
            </picture>
            {{ end }}
            {{ end }}
            <h3>{{.Title}}</h3>
            <div class="works-card-category">
                {{ range .Params.Categories }}
                <a class="article-category-item" href="{{$.Site.BaseURL}}categories/{{. | urlize }}">{{.}}</a>
                {{ end }}
            </div>
            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
            {{ $dateHuman := .Date | time.Format "2006" }}
            <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        </article>
        {{ end }}
    </div>
    {{ else }}
    {{ range .RegularPagesRecursive }}
    <article class="list-article">
        <a class="list-article-a" href="{{.Permalink}}"></a>
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format "2006/01/02" }}
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        <h3>{{.Title}}</h3>
        <p class="list-article-summary">{{.Summary}}</p>
        <div class="list-article-category">
            {{ range .Params.Categories }}
            <a class="article-category-item" href="{{$.Site.BaseURL}}categories/{{. | urlize }}">{{.}}</a>
            {{ end }}
        </div>
    </article>
    {{ end }}
    {{ end }}
</div>
{{ end }}