{{ define "main" }}
<div class="about">
    <h1>About</h1>
    <section class="my-data">
        <div class="my-data-intro">
            <p>
                こんにちは、谷川 木穣です。<br>
                シンプルで機能的、かつ楽しいデザインが大好きな大学生です。<br>
                より良いデザインを生み出すべく、今は勉強中です。<br>
                どうぞお気軽に、そしてお手柔らかに！
            </p>
            <p>
                Hello, my name is Kiminori Tanigawa. <br>
                I am a university student who loves simple, functional, and fun designs.<br>
                I am currently studying to create better designs.<br>
                Please be free and easy-going!
            </p>
        </div>
    </section>
    <div class="about-hero">
        <img src="card.svg" data-tilt data-tilt-scale="1.05" data-tilt-speed="1000">
    </div>
    <section class="studying">
        <h2>Studying</h2>
        <div class="studying-kanban-wrapper">
            <div class="studying-kanban-container">
                <h3>Skills</h3>
                <div class="studying-kanban-box">
                    <img src="ui-design.svg">
                    <time>2019-</time>
                    <h4>UI Design</h4>
                    <span>シンプルで機能的なUIの創造を目指し勉強中です。</span>
                </div>
                <div class="studying-kanban-box">
                    <img src="graphic-design.svg">
                    <time>2019-</time>
                    <h4>Graphic Design</h4>
                    <span>ロゴやポスターなど、UI以外のデザインも勉強中です。</span>
                </div>
                <div class="studying-kanban-box">
                    <img src="web-development.svg">
                    <time>2024-</time>
                    <h4>Web Development</h4>
                    <span>単純な構造のWebサイトを制作可能です。より高機能なWebサービスが制作できるよう勉強中です。</span>
                </div>
                <div class="studying-kanban-box">
                    <img src="app-development.svg">
                    <time>2024-</time>
                    <h4>App Development</h4>
                    <span>主にiOS向けのAppを開発すべく、勉強中です。</span>
                </div>
                <div class="studying-kanban-box">
                    <img src="writing.svg">
                    <time></time>
                    <h4>Writing</h4>
                    <span>キャッチコピーや紹介文など、より魅力的な文章を書くべく日々研鑽を積んでいます。</span>
                </div>
            </div>
            <div class="studying-kanban-container">
                <h3>Languages</h3>
                <div class="studying-kanban-box">
                    <img src="css.svg">
                    <time>2023-</time>
                    <h4>HTML/CSS</h4>
                    <span>当サイトのような、簡単な構造のWebサイトを作成することができます。</span>
                </div>
                <div class="studying-kanban-box">
                    <img src="javascript.svg">
                    <time>2024-</time>
                    <h4>Javascript</h4>
                    <span>初心者です。よく用いられるWebAPIを勉強中です。</span>
                </div>
                <div class="studying-kanban-box">
                    <img src="python.svg">
                    <time>2019-</time>
                    <h4>Python</h4>
                    <span>単純なタスクが実行可能なプログラムを作成できます。</span>
                </div>
                <div class="studying-kanban-box">
                    <img src="swift.svg">
                    <time>2024-</time>
                    <h4>Swift</h4>
                    <span>初心者です。今は文法を勉強中です。</span>
                </div>
            </div>
            <div class="studying-kanban-container">
                <h3>Libraries / Frameworks</h3>
                <div class="studying-kanban-box">
                    <img src="hugo.svg">
                    <time>2024-</time>
                    <h4>HUGO</h4>
                    <span>Go製のSSGです。当サイトのような単純な構造のWebサイトを構築することができるようになりました。</span>
                </div>
                <div class="studying-kanban-box">
                    <img src="react.svg">
                    <time>2025-</time>
                    <h4>React</h4>
                    <span>JavaScriptライブラリです。基本的な文法を理解できるようになりました。</span>
                </div>
                <div class="studying-kanban-box">
                    <img src="swift.svg">
                    <time>2024-</time>
                    <h4>Swift UI</h4>
                    <span>Apple製の製品のUIを構築するためのフレームワークです。今は基本の「き」を勉強中です。</span>
                </div>
            </div>
            <div class="studying-kanban-container">
                <h3>Tools</h3>
                <div class="studying-kanban-box">
                    <img src="Illustrator.svg">
                    <time>2019-</time>
                    <h4>Illustrator</h4>
                    <span>Adobeのベクタ編集ソフトです。単純な図形や効果を扱えるようになりました。より複雑な処理を使いこなせるよう勉強中です。</span>
                </div>
                <div class="studying-kanban-box">
                    <img src="xd.svg">
                    <time>2019-</time>
                    <h4>XD</h4>
                    <span>AdobeのUIデザイン用ソフトです。基本的な操作を習得しました。現在、FigmaやSketchへの移行も考えています。</span>
                </div>
                <div class="studying-kanban-box">
                    <img src="lightroom.svg">
                    <time>2024-</time>
                    <h4>Lightroom</h4>
                    <span>Adobeの写真編集ソフトです。簡単な補正などはできるようになりました。</span>
                </div>
            </div>
            <span class="studying-last_update">Last Update: August 2025</span>
    </section>
    <section class="favorites">
        <h2>Favorites</h2>
        <div class="favorites-box-wrapper">
            <div class="favorites-box">
                <picture>
                    <source srcset="f20240227.webp" type="image">
                    <img src="f20240227.jpg">
                </picture>
                <button class="favorites-box-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                    </svg>
                </button>
                <div class="favorites-box-discription">
                    <h3>クレープ</h3>
                    <p>
                        神戸の <a href="https://tabelog.com/hyogo/A2801/A280102/28059269/">Cafe L'Arche</a>
                        さんのクレープ。<br>
                        コーヒと共にゆっくり楽しむ、あの時間はまさに格別！<br>
                    </p>
                </div>
            </div>
            <iframe src="https://www.youtube.com/embed/csT98gZ-J80?si=vB8MBOi2kTNrGJiL" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div class="favorites-box">
                <picture>
                    <source srcset="f20240429.webp" type="image">
                    <img src="f20240429.jpg">
                </picture>
                <button class="favorites-box-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                    </svg>
                </button>
                <div class="favorites-box-discription">
                    <h3>ラーメン その1</h3>
                    <p>
                        大阪は阿波座の、<a href="https://tabelog.com/osaka/A2701/A270105/27065090/">らーめん香澄 阿波座本店</a>
                        さんの特選煮干しラーメン！<br>
                        出汁が「やさしく殴る」感覚、病みつきです。<br>
                    </p>
                </div>
            </div>
            <iframe src="https://www.youtube.com/embed/VKgn1wFH8-w?si=PFy5f-8D0ImGupF7" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div class="favorites-box">
                <picture>
                    <source srcset="f20240904.webp" type="image">
                    <img src="f20240904.jpg">
                </picture>
                <button class="favorites-box-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                    </svg>
                </button>
                <div class="favorites-box-discription">
                    <h3>スパイスカレー</h3>
                    <p>
                        大阪スパイスカレーの名店、空堀の <a href="https://tabelog.com/osaka/A2701/A270204/27060944/">旧ヤム邸
                            空堀店</a> さんのスパイスカレー！<br>
                        全ての素材を包み切る、スパイスカレーの包容力に感嘆せよ！<br>
                    </p>
                </div>
            </div>
            <iframe src="https://www.youtube.com/embed/aHTI0SXGVS0?si=AU9f2lchyPn4QoWZ" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div class="favorites-box">
                <picture>
                    <source srcset="f20240920.webp" type="image">
                    <img src="f20240920.jpg">
                </picture>
                <button class="favorites-box-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                    </svg>
                </button>
                <div class="favorites-box-discription">
                    <h3>カツオのたたき</h3>
                    <p>
                        高知の <a href="https://tabelog.com/kochi/A3901/A390101/39000556/">明神丸 本店</a>
                        さんの分厚いカツオのたたき！<br>
                        もはや説明不要、上手いに決まってる！<br>
                    </p>
                </div>
            </div>
            <iframe src="https://www.youtube.com/embed/T9Ybj8nrtQw?si=ILbX3cInbZnAGysQ" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div class="favorites-box">
                <picture>
                    <source srcset="f20250112.webp" type="image">
                    <img src="f20250112.jpg">
                </picture>
                <button class="favorites-box-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                    </svg>
                </button>
                <div class="favorites-box-discription">
                    <h3>ラーメン その2</h3>
                    <p>
                        難波駅のすぐ近く、<a href="https://tabelog.com/osaka/A2701/A270202/27084754/">麺屋 丈六 なんば店</a>
                        さんの中華そば！<br>
                        スープ・麺・トッピング。三位一体、完璧なバランスに圧倒…！<br>
                    </p>
                </div>
            </div>
            <iframe src="https://www.youtube.com/embed/2Gx2Xqq4yiY?si=_i5d2yBMsSwmTB7B" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div class="favorites-box">
                <picture>
                    <source srcset="f20250206.webp" type="image">
                    <img src="f20250206.jpg">
                </picture>
                <button class="favorites-box-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                    </svg>
                </button>
                <div class="favorites-box-discription">
                    <h3>ハンバーガー</h3>
                    <p>
                        和歌山にある <a href="https://tabelog.com/wakayama/A3001/A300101/30008706/">Favorite
                            Coffee</a> さんのプルドポークバーガー！<br>
                        「これ絶対うまいやつ」、はいそうです。うまいです！<br>
                    </p>
                </div>
            </div>
            <iframe src="https://www.youtube.com/embed/sKfdI2U__6k?si=B7eBB4E9MYSKU-h2" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <span class="favorites-last_update">Last Update: August 2025</span>
    </section>
    <section class="link">
        <h2>Link</h2>
        <div class="link-card-wrapper">
            <a class="link-card" href="mailto:hello@kiminori.me">
                <h3>E-Mail</h3>
                <span>hello@kiminori.me</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#222">
                    <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
                </svg>
            </a>
            <a class="link-card" href="https://x.com/kiminori_me" target="_blank">
                <h3>X</h3>
                <span>@kiminori_me</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#222">
                    <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
                </svg>
            </a>
            <a class="link-card" href="https://www.instagram.com/tngw_k/" target="_blank">
                <h3>Instagram</h3>
                <span>@tngw_k</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#222">
                    <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
                </svg>
            </a>
            <a class="link-card" href="https://github.com/tanikimi" target="_blank">
                <h3>GitHub</h3>
                <span>@tanikimi</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#222">
                    <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
                </svg>
            </a>
            <a class="link-card" href="https://atcoder.jp/users/taxfree?graph=rating" target="_blank">
                <h3>AtCoder</h3>
                <span>@taxfree</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#222">
                    <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
                </svg>
            </a>
        </div>
    </section>
</div>
{{ end }}